<div class="contents row">
  <div class="container">
  <%= form_with model:@post, local:true do |f| %>
    <div class="post-field">
      <div class="field">
      <%= f.label :title, "タイトル"%>
      <%= f.text_field :title, class:"title", placeholder: "タイトル" %>
      </div>
      <div class="field">
      <%= f.label :question, "質問内容" %>
      <%= f.text_area :question, class:"question", rows:10, placeholder: "質問事項を記述してください"%>
      </div>
      <div class="field">
      <%= f.label :category_id, "カテゴリー" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"})%>
      </div>
      <div class="field">
      <%= f.label :scheduled_id, "回答希望日" %>
      <%= f.collection_select(:scheduled_id, Scheduled.all, :id, :name, {}, {class:"scheduled-select"})%>
      </div>
      <div class="field">
      <%= f.submit "投稿する", class:"post-submit" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

